
        <nav class="navbar sticky-top navbar-expand-lg  navigation navbar-dark bg-dark">
                <a class="navbar-brand" href="/">
                    <img src="images/logoBUS2 200.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto main-nav ">
                                <li class="nav-item dropdown dropdown-slide active">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                THE BUS <span><i class="fa fa-angle-down"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="http://theBUS.io">BOTTOM UP SOCIETY</a>
                                                <a class="dropdown-item" href="/blog">ACTUALITÉ</a>
                                        </div>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                THANKS <span><i class="fa fa-angle-down"></i></span>
                                        </a>
                                        <!-- Dropdown list -->
                                        <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">LE TOKEN</a>
                                                <a class="dropdown-item" href="#">ACHETER DU THX</a>
                                                <a class="dropdown-item" href="#">VENDRE DU THX</a>
                                        </div>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">
                                        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                YOU <span><i class="fa fa-angle-down"></i></span>
                                        </a>
                                        <!-- Dropdown list -->
                                        <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="/user">MON PROFIL</a>
                                                <a class="dropdown-item" href="/blog">MON ACTUALITÉ</a>
                                                <a class="dropdown-item" href="/search">MES OFFRES</a>
                                                <a class="dropdown-item" href="/search">MES DEMANDES</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">LOGIN/LOGOUT</a>
                                        </div>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">
                                        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ALL ! <span><i class="fa fa-angle-down"></i></span>
                                        </a>
                                        <!-- Dropdown list -->
                                        <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">BUS STOPS</a>
                                                <a class="dropdown-item" href="#">MEMBRES</a>
                                                <a class="dropdown-item" href="#">PARTENAIRES</a>
                                                <a class="dropdown-item" href="/search">OFFRES</a>
                                                <a class="dropdown-item" href="/search">DEMANDES</a>
                                        </div>
                                </li>
                        </ul>
                        <ul class="navbar-nav ml-auto mt-10">
                                <li class="nav-item">
                                        <a class="nav-link login-button" href="/login">LOGIN</a>
                                </li>
                                <!-- <li class="nav-item">
                                        <a class="nav-link add-button" href="#"><i class="fa fa-plus-circle"></i> Add Listing</a>
                                </li> -->
                        </ul>
                </div>
        </nav>
